<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magotzis.mapper.TeacherMapper">

	<resultMap type="Teacher" id="teacherRM">
	</resultMap>
	<!-- 上面是一个整体 -->

	<insert id="insert" parameterType="Teacher">
	</insert>

	<delete id="deleteById" parameterType="String">
	</delete>

	<update id="update" parameterType="Teacher">
	</update>

	<select id="getById" parameterType="String" resultType="Teacher">
	</select>

	<select id="list" parameterType="Teacher" resultMap="teacherRM">
	</select>

	<select id="findByPage" parameterType="Teacher" resultMap="teacherRM">
	</select>

	<!-- 查找教师列表 -->
	<select id="getTeacherByList" resultMap="teacherRM">
		select * from `teacher`
		where state = 'T'
	</select>

	<!-- 登陆方法 -->
	<select id="login" parameterType="UserLoginVo" resultMap="teacherRM">
		select
		* from `teacher` where tno = #{username}
		and password = #{password} and state = 'T'
	</select>

	<select id="getByUserName" parameterType="String" resultMap="teacherRM">
		select * from `teacher` where tno = #{sno} and state = 'T'
	</select>

</mapper>